.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.img {
    width: 60px;
    height: 60px;
  }

.res-card {
    width: 300px;
    height: 550px; 
    padding: 15px;
    background-color: rgb(160, 208, 199);
    margin: 5px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 450px; 
    padding: 15px;
    background-color: #f0f0f0;
    margin: 5px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.login{
    padding: 0 40px;
    cursor: pointer;
}

.filter{
    display: flex;
}

.search{
    padding : 10px;
}